<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pl_project2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Superfly"
        android:roundIcon="@drawable/icon2"
        android:supportsRtl="true"
        android:theme="@style/designing_app">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".imageloader">
            <intent-filter>
                <action android:name="com.example.pl_project2.imageloader" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".tshirt2" />
        <activity android:name=".finaltshirt">
            <intent-filter>
                <action android:name="com.example.pl_project2.finaltshirt" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Clothes">
            <intent-filter>
                <action android:name="com.example.pl_project2.Clothes" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpPage">
            <intent-filter>
                <action android:name="com.example.pl_project2.SignUpPage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginPage">
            <intent-filter>
                <action android:name="com.example.pl_project2.LoginPage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FirstPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".firebasechecker">
            <intent-filter>
                <action android:name="com.example.pl_project2.firebasechecker" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>